#nav{
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(23, 194, 216);
    color: white;
    height: 30px;
    padding: 20px;
    justify-items: center;
    text-transform: uppercase
}

#nav a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    background-color: white;
   


}
*{
    margin: 0px;
    padding: 0px;
}
#parent {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
#parent div img {
   
    object-fit: cover;
}
#parent div{
    background-color: rgb(245, 249, 252);
    padding: 5px;
    margin: 10px;
    border: 1px solid #c5bcbc;
    text-align: center;
}